body {
  color: #333333;
}
body a {
  color: #0088cc;
}
#content {
  margin-top: 20px;
}
#contact-info {
  text-align: center;
}

#resume-callout {

} /*Turns resume section red*/

.blogpostTitle{
	text-decoration: underline;
	text-align: center;
}

.blogpostSubtitle{
	text-decoration: underline;
}

a:visited{
	color: #551A8B;
}

.previousPost{
	text-align: right;
	color: #D3D3D3;
}

.nextPost{
	text-align: left;
	color: #D3D3D3;
}

.centered{
	text-align: center;
}

.textBlock{
	text-align: left;
	padding-right: 20px;
	padding-left: 20px;

}

.circuits {
	background-image: url('codeless_curcuits.jpg');
}

.whiteBox{
    background-color: #FFFFFF;
    background-position: 0px 0px;
    background-repeat: repeat-y;
    padding-top: 5px;
    margin: 0 auto;
    width: 600px !important;
    text-align: left;
    padding-left: 2px;
    padding-right: 2px;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 0px 20px 5px;
    -khtml-box-shadow: rgba(0,0,0,0.2) 0px 0px 20px 5px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 0px 20px 5px;
    -ms-box-shadow: rgba(0,0,0,0.2) 0px 0px 20px 5px;
    -o-box-shadow: rgba(0,0,0,0.2) 0px 0px 20px 5px;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 20px 5px;
}

@media screen and (max-width: 660px){
	.whiteBox{
		width: 100% !important;
	}
}