body {
  color: #333333;
}
body a {
  color: #0088cc;
}
#content {
  margin-top: 20px;
}
#contact-info {
  text-align: center;
}

#resume-callout {

} /*Turns resume section red*/

.blogpostTitle{
	text-decoration: underline;
}

.blogpostSubtitle{
	text-decoration: underline;
}

.previousPost{
	text-align: right;
	color: #D3D3D3;
}

.nextPost{
	text-align: left;
	color: #D3D3D3;
}

.centered{
	text-align: center;
}

.textBlock{
	text-align: left;
}

body{
	background-image: url('codeless_curcuits.jpg');
}